module Draughts
  module AI
    module Config
      BOARD_THRESHOLD = 5
      PROBS_THRESHOLD = 0.6
      SMOOTHER = 1
      DB_DIR   = "data"
      DB_NAME  = "draughts.db"
      DB_LOG   = "db.log"
      DB_DEBUG = false
    end
  end
end
