module Draughts
  module AI
    module Config
      THRESHOLD = 5
      SMOOTHER = 1
	  DB_DIR   = "data"
      DB_NAME  = "draughts.db"
      DB_LOG   = "db.log"
      DB_DEBUG = false
    end
  end
end
